{% include "base.html" %}

<div class="about-text">
  <h2>What is this</h2>
  LibraMeta is a search engine built for the Internet Archive Open Library.
  <h3>What does LibraMeta offer?</h3>
  <ul>
    <li><strong>Modern Design:</strong> A user-friendly interface designed to make your searches simple and intuitive.</li>
    <li><strong>Mobile-First:</strong> Fully responsive on mobile devices, so you can search for books anytime, anywhere.</li>
    <li><strong>Advanced Filters:</strong> Search more efficiently with improved filters, including the ability to filter by language, something the original  site doesn’t offer.</li>
    <li><strong>No Tracking, Privacy-First</strong> Your privacy is important. LibraMeta does not track or store any of your personal information.</li>
  </ul>
</div>

{% include "footer.html" %}
